In [6]:
import numpy as np
import pandas as pd

In [7]:
from sklearn import datasets

iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data, columns=['がく片長','がく片幅','花びら長','花びら幅'])
iris_df['種類'] = iris.target_names[iris.target]

In [8]:
iris_df.head()

   がく片長  がく片幅  花びら長  花びら幅      種類
0   5.1   3.5   1.4   0.2  setosa
1   4.9   3.0   1.4   0.2  setosa
2   4.7   3.2   1.3   0.2  setosa
3   4.6   3.1   1.5   0.2  setosa
4   5.0   3.6   1.4   0.2  setosa

In [10]:
ans = iris_df.query('種類 == "setosa"')

In [13]:
len(ans)

50

In [19]:
iris_df.loc[5:8,['花びら長' ,'種類']]

   花びら長      種類
5   1.7  setosa
6   1.4  setosa
7   1.5  setosa
8   1.4  setosa

In [20]:
iris_df.sort_values(by='がく片幅').head(1)

    がく片長  がく片幅  花びら長  花びら幅          種類
60   5.0   2.0   3.5   1.0  versicolor

In [22]:
iris_df.query('がく片長 >= 7 & 花びら長 >= 6.2')

     がく片長  がく片幅  花びら長  花びら幅         種類
105   7.6   3.0   6.6   2.1  virginica
107   7.3   2.9   6.3   1.8  virginica
117   7.7   3.8   6.7   2.2  virginica
118   7.7   2.6   6.9   2.3  virginica
122   7.7   2.8   6.7   2.0  virginica
131   7.9   3.8   6.4   2.0  virginica

In [23]:
iris_df.groupby('種類').mean()

             がく片長   がく片幅   花びら長   花びら幅
種類
setosa      5.006  3.428  1.462  0.246
versicolor  5.936  2.770  4.260  1.326
virginica   6.588  2.974  5.552  2.026